<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">

  <div id="searchFilterWrap">
    <form id="searchForm">
      <input type="text" id="searchBox" placeholder="Search by title" data-ng-model="searchTxt"  data-ng-model-options="{debounce : 600}" />
    </form>
    <div id="sortByWrap">
      Sort By : <i class="fa fa-calendar" ng-click="sortByTime()"></i><i class="fa fa-thumbs-up" ng-click="sortByLikes()"></i>
    </div>
    <!-- <div id="rssField" ng-controller="MainCtrl">
      <button id="rssButton" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">RSS</button>
          <hr>
       <div collapse="isCollapsed">
            <div class="well well-lg">
            <div>Enter feed url</div>
            <input ng-model="feedUrl">
            <button>Load url</button>
            </div> 
        </div>
      </div> -->
    </div>

  <div ng-controller="UploadController" class="container-fluid">
    <div class="page-header no-top-marg">


    <div class="panel panel-default ">
      <div class="panel-heading">
        <h3 class="panel-title"> Upload The File</h3>
      </div>
      <div class="panel-body">
        <input class="bottom-marg-15" type="file" name="file" file></input>
        <!-- Progress Bar -->
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
            {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
          </div>
        </div>
        <a class="btn btn-primary btn-block btn-lg" ng-click="upload()">Upload</a>
      </div>




  <ul class="dynamic-grid angular-grid" angular-grid="pics" grid-width="300" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="true" >
    <li data-ng-repeat="pic in pics" class="grid" ng-clock>
      <a href={{pic.url}} alt='' class='snapLink' target='_blank'>
        <img src="{{pic.media}}" ng-if="showImage(pic.mediaType)" class="grid-img" data-actual-width = "{{pic.actualWidth}}"  data-actual-height="{{pic.actualHeight}}" />
        <div ng-if="isSelection(pic.mediaType)" class="selectionText">{{pic.description.substr(0,300)}}</div>
        <div ng-class="{titleClass: showImage(pic.mediaType) , selectionTitle: isSelection(pic.mediaType), pageTitle : isPage(pic.mediaType), linkTitle : isLink(pic.mediaType) }">{{pic.title}}</div></a>
        <div class="social">
          <i class="fa fa-thumbs-o-up thumbLike" ng-click="upVote(pic)"></i><span class="likeCount">{{pic.upVotes}}</span>
          <i class="fa fa-trash-o pull-right trashCan" ng-click="deleteSnapit(pic)"></i>
        </div> 
    </li>
    </a>
  </ul>
</div>
