* ,*:before ,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
    vertical-align: middle;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}


body {
    font-family: 'Open Sans','Helvetica Neue',Arial, sans-serif;
    font-size: 5vmin;
}
@media (min-width: 768px) {
    body {
    font-size: 2vmin;
}
}
@media (min-width: 992px) {
    body {
    font-size: 1.4vmin;
}
}
@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}
.navbar-custom {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    //background-image: linear-gradient(#e7e5dc, #ffffff);
}
.navbar-custom .navbar-logo {
    width: 140px;
}
.navbar-custom .navbar-collapse.collapsing ,.navbar-custom .navbar-collapse.in {
    background-color: #ffffff;
}
.navbar-custom .navbar-nav {
    margin-top: 10px;
}
.navbar-custom .navbar-nav>li>a {
    color: #083858;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}
.navbar-custom .navbar-nav>li>a:hover {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    text-decoration: none;
    background-color: #eee;
    color: #231f20;
    border: 1px solid #231f20;
}
.section {
    padding: 4em 0 0 0;
    text-align: center;
}
.section h2 ,.section .h2 {
    font-family: 'HurmeGeometricSans4-Black','Open Sans','Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
    font-size: 10vmin;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0 0 0.5em;
}
@media (min-width: 768px) {
    .section h2 ,.section .h2 {
    font-size: 8vmin;
}
}
@media (min-width: 992px) {
    .section h2 ,.section .h2 {
    font-size: 5.6vmin;
}
}
@media (min-width: 1200px) {
    .section h2 ,.section .h2 {
    font-size: 80px;
}
}
.section h3 ,.section .h3 {
    font-family: 'Open Sans','Helvetica Neue',Arial, sans-serif;
    font-size: 10vmin;
    letter-spacing: 0.05em;
}
@media (min-width: 768px) {
    .section h3 ,.section .h3 {
    font-size: 5vmin;
}
}
@media (min-width: 992px) {
    .section h3 ,.section .h3 {
    font-size: 2.8vmin;
}
}
@media (min-width: 1200px) {
    .section h3 ,.section .h3 {
    font-size: 40px;
}
}

.section h2 ,.section .h2 ,.section h3 ,.section .h3 {
    font-weight: bold;
    text-transform: uppercase;
}
.section p {
    margin: 0;
}
.section a {
    font-weight: bold;
}


.section.section-footer {
    background: #dfddd1;
}
.section.section-footer p {
    padding: 0 0 1em;
}

.section.section-hero {
    background: #ffffff 50% 0 no-repeat;
    padding: 0;
    background-image: -webkit-linear-gradient(#e7e5dc, #ffffff);
    background-image: -o-linear-gradient(#e7e5dc, #ffffff);
    background-image: -moz-linear-gradient(#e7e5dc, #ffffff);
    background-image: linear-gradient(#e7e5dc, #ffffff);
}
.section.section-hero .outer {
    background: url('/assets/images/header-mobile.png') 50% 0 no-repeat;
    background-size: auto 100%;
    overflow: hidden;
}
@media (min-width: 992px) {
    .section.section-hero .outer {
    background-image: url('/assets/images/header-base.png');
}
}
.section.section-hero .outer .inner {
    height: 100vmin;
}
@media (min-width: 992px) {
    .section.section-hero .outer .inner {
        webkit-animation: groove 10s infinite alternate ease-in-out;
        animation: groove 10s infinite alternate ease-in-out;
        background: url('/assets/images/header-overlay.png') 50% 0 no-repeat;
        background-size: auto 100%;
        margin: 0 -10px;
        height: 100vh;
    }
}

.section.section-benefits {
  background: #ffffff;
  color: #666666;
  padding-bottom: 0;
}
.section.section-benefits .section-header {
    background-image: -webkit-linear-gradient(#ffffff, #e7e5dc);
    background-image: -o-linear-gradient(#ffffff, #e7e5dc);
    background-image: -moz-linear-gradient(#ffffff, #e7e5dc);
    background-image: linear-gradient(#ffffff, #e7e5dc);
}
.section.section-benefits .section-header p {
    padding: 0 0 1em;
}
.section.section-benefits .showcase-invitation {
    font-size: 5vmin;
}
@media (min-width: 768px) {
    .section.section-benefits .showcase-invitation {
        font-size: 5vmin;
    }
}
@media (min-width: 992px) {
    .section.section-benefits .showcase-invitation {
        font-size: 2.8vmin;
    }
}
@media (min-width: 1200px) {
    .section.section-benefits .showcase-invitation {
        font-size: 40px;
    }
}



.section.section-features {
    background: #f9b500;
    color: #083858;
}
.section.section-features h1 ,.section.section-features h2 ,.section.section-features h3  {
    color: #fcda80;
    letter-spacing: 0;
}
.section.section-features h1 span ,.section.section-features h2 span ,.section.section-features h3 span  {
    color: #ffffff;
    display: block;
}
.section.section-features h2 ,.section.section-features .h2 {
    border-bottom: 1px solid #083858;
    font-family: 'Open Sans','Helvetica Neue',Arial, sans-serif;
    font-size: 5vmin;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0 0 2em;
    height: 0.5em;
    text-transform: none;
}
@media (min-width: 768px) {
    .section.section-features h2 ,.section.section-features .h2 {
    font-size: 2vmin;
}
}
@media (min-width: 992px) {
    .section.section-features h2 ,.section.section-features .h2 {
    font-size: 1.4vmin;
}
}
@media (min-width: 1200px) {
    .section.section-features h2 ,.section.section-features .h2 {
    font-size: 20px;
}
}
.section.section-features h2 span ,.section.section-features .h2 span {
    background: #f9b500;
    color: #083858;
    display: inline;
    padding: 0 1em;
}
.section.section-features .highlight {
    background: transparent 50% 0 no-repeat;
    background-size: auto 10em;
    margin-top: 2em;
    padding: 10em 0 1em;
}
.section.section-features .highlight.internet-better {
    background-image: url('/assets/images/track-anything.png');
}
.section.section-features .highlight.snap-anything {
    background-image: url('/assets/images/snap-anything.png');
}
.section.section-features .highlight.available-everywhere {
    background-image: url('/assets/images/features.png');
}

.section.section-team {
    background: #fe523e;
    color: #f9f9c7;
}
.section.section-team p {
    padding: 0 0 1em;
}
.section.section-team .person {
    position: relative;
    margin: 2em 0;
    text-align: center;
}
.section.section-team .person h3 ,.section.section-team .person .h3 {
    font-family: 'Open Sans','Helvetica Neue',Arial, sans-serif;
    letter-spacing: 0;
    font-size: 5vmin;
    left: 0;
    line-height: 1.5em;
    margin: 0;
    position: absolute;
    right: 0;
    text-transform: none;
    top: 65%;
}
@media (min-width: 768px) {
    .section.section-team .person h3 ,.section.section-team .person .h3 {
    font-size: 2vmin;
}
}
@media (min-width: 992px) {
    .section.section-team .person h3 ,.section.section-team .person .h3 {
    font-size: 1.4vmin;
}
}
@media (min-width: 1200px) {
    .section.section-team .person h3 ,.section.section-team .person .h3 {
    font-size: 20px;
}
}
.section.section-team .person h3 span ,.section.section-team .person .h3 span {
    display: block;
    font-weight: normal;
}
.section.section-team .person .img-responsive {
    margin: 0 auto;
}
.section.section-team .team-invitation {
    font-size: 5vmin;
    padding: 0;
}
@media (min-width: 768px) {
    .section.section-team .team-invitation {
    font-size: 5vmin;
}
}
@media (min-width: 992px) {
    .section.section-team .team-invitation {
    font-size: 2.8vmin;
}
}
@media (min-width: 1200px) {
    .section.section-team .team-invitation {
    font-size: 40px;
}
}

a#login {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    display: block;
    font-weight: 600;
    background-color: #eee;
    color: #083858;
    border: 1px solid #231f20;
}
a#login:hover {
    color: #231f20;
}

.btn-custom-footer {
  color: #dfddd1; 
  background-color: #333; 
  border-color: #ccc;
  font-weight: 600;
}
.btn-custom-footer a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}




.btn-custom-features {
  color: #fff; 
  background-color: #083858;
  border-color: #ccc;
  margin-bottom: 20px;
  font-weight: 600;
}
.btn-custom-benefits {
  color: #dfddd1; 
  background-color: #333; 
  border-color: #ccc;
  margin-bottom: 20px;
  font-weight: 600;
}
.btn-custom-footer {
  color: #dfddd1; 
  background-color: #333; 
  border-color: #ccc;
  font-weight: 600;
}

.btn-custom-features a,
.btn-custom-benefits a,
.btn-custom-footer a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}